{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center my-4">Formulaire de contact</h1>
    
    {% if success %}
            <div class="alert alert-success">{{ success }}</div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.author.name) }}
        {{ form_row(form.author.mail) }}
        {{ form_row(form.content) }}
        <button type="submit" class="btn btn-dark my-4">Envoyer</button>
    {{ form_end(form) }}


    <a href="/admin">back-office</a>
</div>
{% endblock %}
